GetTerroristCatalogFile/Connected Services/TerroristInfoService/TerroristInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FedsfmPortal.Services.TerroristInfo" />
  <xs:import schemaLocation="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCurrentTerroristCatalog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTerroristCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FedsfmPortal.Services.TerroristInfo" minOccurs="0" name="GetCurrentTerroristCatalogResult" nillable="true" type="q1:TerroristCatalog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerroristCatalogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerroristCatalogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FedsfmPortal.Services.TerroristInfo" minOccurs="0" name="GetTerroristCatalogsResult" nillable="true" type="q2:TerroristCatalogPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FedsfmPortal.Services.TerroristInfo" minOccurs="0" name="GetFileResult" nillable="true" type="q4:PortalFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>