GetTerroristCatalogFile/Connected Services/TerroristInfoService/TerroristInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TerroristInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITerroristInfoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FedsfmPortal.Services.TerroristInfo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITerroristInfoService_GetCurrentTerroristCatalog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTerroristCatalog" />
  </wsdl:message>
  <wsdl:message name="ITerroristInfoService_GetCurrentTerroristCatalog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTerroristCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="ITerroristInfoService_GetTerroristCatalogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerroristCatalogs" />
  </wsdl:message>
  <wsdl:message name="ITerroristInfoService_GetTerroristCatalogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerroristCatalogsResponse" />
  </wsdl:message>
  <wsdl:message name="ITerroristInfoService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="ITerroristInfoService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ITerroristInfoService">
    <wsdl:operation name="GetCurrentTerroristCatalog">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerroristInfoService/GetCurrentTerroristCatalog" message="tns:ITerroristInfoService_GetCurrentTerroristCatalog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerroristInfoService/GetCurrentTerroristCatalogResponse" message="tns:ITerroristInfoService_GetCurrentTerroristCatalog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerroristCatalogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerroristInfoService/GetTerroristCatalogs" message="tns:ITerroristInfoService_GetTerroristCatalogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerroristInfoService/GetTerroristCatalogsResponse" message="tns:ITerroristInfoService_GetTerroristCatalogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITerroristInfoService/GetFile" message="tns:ITerroristInfoService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITerroristInfoService/GetFileResponse" message="tns:ITerroristInfoService_GetFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITerroristInfoService" type="tns:ITerroristInfoService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITerroristInfoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentTerroristCatalog">
      <soap12:operation soapAction="http://tempuri.org/ITerroristInfoService/GetCurrentTerroristCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerroristCatalogs">
      <soap12:operation soapAction="http://tempuri.org/ITerroristInfoService/GetTerroristCatalogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/ITerroristInfoService/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerroristInfoService">
    <wsdl:port name="WSHttpBinding_ITerroristInfoService" binding="tns:WSHttpBinding_ITerroristInfoService">
      <soap12:address location="https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://portal.fedsfm.ru/Services/TerroristInfoService/TerroristInfoService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>